// colors

$page_background: #141414;

$color_brand: #ae08ea;

$color_neon: #63b605;

$color_black: #000000;

$color_dark: #414141;

$color_border_focus_light: gray;

$color_text: #c4c4c4;
// dimensions
$interactives_height: 34px;
$rounded_radius: 6px;